/*** Color definitions ***/
:root {
    --deep-purple: #874c98;
    --alien-green: #83d496;
    --darker-green: #70b580;
    --gold: #a5937b;
    --sublime-black: #272822;
    --cobalt-blue: #839496;
}

html, body {
	background-color: var(--sublime-black);
	color: var(--cobalt-blue);
}

a, a:visited, a:active {
	color: var(--gold);
	border-color: var(--deep-purple);
}

a:hover {
    background-color: var(--deep-purple);
    border-color: var(--deep-purple);
    color: var(--gold);
}

h1, h2, h3 {
    color: var(--gold);
}

h1 a, h1 a:visited, h1 a:active {
    color: var(--gold);
}

h1 a:hover {
    background-color: var(--deep-purple);
    border-color: var(--deep-purple);
    color: var(--gold);
}

article h1 a.anchor {
	color: var(--gold);
}

blockquote {
	border-color: var(--gold);
}

#sidebar a:hover {
	color: var(--gold);
	background-color: var(--deep-purple);
}

#footer {
	border-color: var(--deep-purple);
}

input.btn, button.btn {
    background-color: var(--alien-green);
    font-family: 'Carter One', cursive;
    font-size: 27px;
    color: var(--deep-purple);
}

.btn:hover {
    background-color: var(--darker-green);
    cursor: pointer;
}