---
layout: default
title: Blog
---
My writings are mainly on Quora (<a href="https://www.quora.com/profile/Owen-Miller-3">Owen-Miller-3</a>) and at <a href="https://kokociel.blogspot.com/">kokociel.blogspot.com</a>. Here are some highlights:
<!-- Now that the embedding button has been removed from Quora, it's not feasible to update the list.-->
{% for post in site.posts %}
	<article class="post">

    {% if post.human_title %}
      <h1>
  			<a href="{{ site.baseurl }}/#{{ post.title }}">{{ post.human_title }}</a>
  		</h1>
    {% endif %}

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}

{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}
