<!DOCTYPE html>
<html lang="{{ site.locale | default: 'en' }}">
{% include head.html %}
<script src="https://www.google.com/recaptcha/api.js?render=6LfHjr0bAAAAAGZE_F4hiMIo3nik5dTeg7frac80"></script>
<body class="site">

  <header id="header">
    {% if page.featured-image %}
    <div class="hero"
      style="background-image:url('{{ page.featured-image }}');">
      <div class="hero__wrap">
        <hgroup class="site-heading hero__meta">
          <h1><a href="{{ site.baseurl }}/">{{ site.author }}</a></h1>
          <h2 lang="jp">({{ site.phonetic }})</h2>
        </hgroup>
      </div>
    </div>
    {% endif %}

  </header>

  <div id="page">
    {% include sidebar.html %}

    <main id="content" lang="{{ site.locale | default: 'en' }}">
      <p >
        Hi 👋 I'm Owen. I'm a software engineer in Melbourne, and an electoral candidate for the <a href="https://www.fusionparty.org.au/owen_miller">Fusion Party</a>.
        </p>
      <p>
        In my political work, I've started a podcast, <a href="https://www.youtube.com/@MyFirstParty">My First Party</a> − reach out if you have ideas for the show!
      </p>

        <p>
          Besides Fusion, I'm also the founder of the <a href="https://nonhuman.party">Non-Human Party</a>, bringing <a href="https://www.youtube.com/watch?v=Xp2Bgk9Lf8Y">Nationality as a Service</a> to Australia. I enjoy software engineering as it's the most practical way for me to create the future. If you're also interested in helping robots and software fill a place in society harmoniously, then say hi 🙂
      </p>
      <p>
        I can build software from the ground up at small start-ups (<a href="https://bevrly.com/sheets/">Bevrly 🍷</a>, <a href="https://tanuki.ai">Tanuki.ai</a>, <a href="http://wx.io">Wx.io</a>) and I can add value to large-scale systems like the <a href="https://www.amazon.com/gp/yourstore/">recommendations</a> at <a href="https://amazon.com">Amazon.com</a>. Some of my contributions to the world involve public code − these are included at <a href="/work">/Work</a>. You'll see that my <a href="/blog">blog posts</a> also offer insight into the software industry.
      </p>
      <p>
        If you'd like me to work with you; if you'd like to work for me; if you'd like my media involvement; or if you'd like to chat about the podcast, then those are good reasons to reach out.
      </p>
      <br>
      <ul class="socials">
        {% for linked_account in site.linked_accounts %}
          {% if linked_account.url != '' %}
            <li><a href="{{ linked_account.url }}"><svg title="{{ linked_account.name }}"
              width="1.5rem" height="1.5rem" {% if social.name == 'applemusic' %} style="margin: 0 0 0 -2px" {% endif %}><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg/social-icons.svg#{{ linked_account.name }}-icon"></use></svg></a>
            </li>
          {% endif %}
        {% endfor %}

        {% if site.email != blank and site.show_email == 1 %}
          <li><a href="mailto:{{site.email}}"><svg title="{{linked_account.name}}" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg/social-icons.svg#email-icon"></use></svg></a></li>
        {% endif %}

        {% if site.show_rss == 1 %}
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><svg title="{{linked_account.name}}" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg/social-icons.svg#rss-icon"></use></svg></a></li>
        {% endif %}
      </ul>
      <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/intl-tel-input/build/css/intlTelInput.min.css">
      <form class="form-inline kwes-form" action="https://kwes.io/api/foreign/forms/l6IzI5rwtjzTd6GFvc9F" has-recaptcha-v3
      recaptcha-site-key="6LfHjr0bAAAAAGZE_F4hiMIo3nik5dTeg7frac80">
        <input type='hidden' name='redirect_to' value='https://media.giphy.com/media/xT5LMrH18OTqQ7QDBu/giphy.gif'/>
        <label for="name">Name:</label>
        <input type="text" name='name' id="name" placeholder="Your name" class="form-control"/ rules="required">
        <label for="email">Email address:</label>
        <input type="email" name="email" id="email" placeholder="hello@example.com" class="form-control"/>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" class="form-control"/>
        <label for="message">Message:</label>
        <textarea lang="{{ site.locale }}" name="message" id="message" required="true" rules="required"
        placeholder="Hello Owen, I need to tell you something"></textarea>
        <caption lang="fr">On peut envoyer un message en français si c'est plus facile.</caption>
        <input type='submit' value='Submit' class="btn"/>
      </form>
      <script src="https://kwes.io/v2/kwes-script.js" defer></script>
    </main>

  </div>

  {% include footer.html %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.mobilemenu.min.js"></script>
  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>
  <script src="{{ site.baseurl }}/bower_components/intl-tel-input/build/js/intlTelInput.min.js"></script>
  <script>
    $("#phone").intlTelInput({"preferredCountries":["au"], "utilsScript":"{{ site.baseurl }}/bower_components/intl-tel-input/build/js/utils.js"});
  </script>
</body>
</html>
